# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.vscode

# Tooling caches
.pytest_cache/
.mypy_cache/

# MacOS
.DS_Store

# Project artifacts
data/paper_context_embeddings/
data/raw/
data/new/